nav li {
    display:inline;
        text-align:center;


}

nav li a {
        text-decoration: none;
        color:orange;
        font-size: 30px;
        font-style: italic;
        margin-right: 40px;
}

h1 {
    text-align: center;
    color:red;
}

 ul {
    list-style-type: none;
}