
@media (min-width: 600px) {
      main  ul {
        display:flex;
        flex-wrap:wrap;
        width:900px;
  }
    main ul li {
      flex-basis: 400px;
  }
}

@media (min-width: 1200px) {
    main  ul {
        display:flex;
       flex-wrap:wrap;
       width: 1300px;
  }
    main ul li {
      flex-basis: 400px;
  }

}

