@media (min-width: 800px) {
    main ul li {
        float:left;
        width: 50%;
        height:400px;
    }
}

@media (min-width: 1200px) {
    main ul li {
        float:left;
        width: 33%;
        height:400px;

    }
}