@media (min-width: 600px) {
     main ul {
        display:grid;
        grid-template-columns: auto auto ;   
     }
}

    
    
@media (min-width: 1200px) {
    main ul {
        display:grid;
        grid-template-columns: auto auto auto;
    }
}